<header class="header">
        <section class="contenedor">
            <div class="barra">
                <a href="index.html" class="navegacion_enlace">Inicio</a>
                <nav class="navegacion">
                    <a href="blog.html" class="navegacion_enlace">Blog</a>
                    <a href="../Lecturas/indexLecturas.html" class="navegacion_enlace">Knowledge Base</a>
                </nav>
            </div>
        </section>
        <section class="header-texto">
            <h1 class="no-margin">L. O. BLOG</h1>
            <p>Bienvenidx</p>
        </section>
    </header>